<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">
            Techcareer.net
        </h1>
        <p class="col-md-8 fs-4">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur culpa cumque molestias sint possimus voluptates veniam, maiores quaerat quos atque! Quos nam dolorem qui nostrum odit nulla adipisci dicta eveniet.
        </p>
        <a asp-controller="Bootcamp" asp-action="list" class="btn btn-success btn-lg">Bootcampler</a>
    </div>
</div>